<!doctype html>
<html lang="">
<head>
	<meta charset="utf-8"/>
	<title>portDB - tcp/1797</title>

	<meta name="author" content="James Hodgkinson" />
	<meta name="copyright" content="James Hodgkinson" />
	<meta property="og:site_name" content="portDB" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="1797" />
	<meta name="date" content="1970-01-01 00:00:00+00:00" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="en" />
	<meta property="og:published_time" content="1970-01-01 00:00:00+00:00" />
	<meta property="og:title" content="1797" />
	<meta property="og:url" content="../../tcp/1797/" />
	<meta property="og:description" content="portdb / tcp / 1797 IANA Data Name: uma Description: UMA" />
	<meta name="description" content="portdb / tcp / 1797 IANA Data Name: uma Description: UMA" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
	<link rel="icon" href="../../favicon.ico" type="image/x-icon" />
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans:700,400|Droid+Sans+Mono' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../../theme/css/main.css" type="text/css" />

	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>
<header class="clearfix" role="banner">
	<div class="wrapper">
		<h1 class="huge">
			<a href="../..">portDB</a>
 - <a href="/category/tcp.html">tcp</a> / <a href="#">1797</a>			| <a href="/category/tcp.html">tcp</a>
			| <a href="/category/udp.html">udp</a>
		</h1>
	</div>
</header>

<div role="main" class="content clearfix">
	<article>
		<div class="post wrapper">
			<!-- <h1>1797</h1> -->
			<div>
			<p><a href="/">portdb</a> / <a href="/category/tcp.html">tcp</a> / 1797</p>
<h2>IANA Data</h2>
<p><em>Name:</em> uma</p>
<p><em>Description:</em> UMA</p>
			</div>
		</div>
<div class="meta wrapper" id="searchmeta" name="searchmeta">
	<input type="text" id="searchTerm" name="searchTerm"  placeholder="Port # Search" v-model="portFilter"/>

	<ul>
		<template v-for="item in portFiltered.slice(0, 20)">
			<li style="list-style-type: none;"><a :href="'/'+item.message+'/'">| item.message |</a></li>
		</template>
	</ul>
</div>	</article>
</div>


<footer class="clearfix">
	<div class="wrapper pages">
		<ul class="nav">
			<!-- <li><a href="../../archives.html">Archive</a></li> -->
		</ul>
	</div>

	<div class="copy wrapper">
		<ul class="social">
		</ul>

		<p role="contentinfo">
		Developed by James Hodgkinson - any problems, please <a href="https://github.com/yaleman/portdb.yaleman.org/issues">log an issue on GitHub</a><br />
		<small>
			Proudly powered by <a href="http://alexis.notmyidea.org/pelican/">Pelican</a>.</p>
		</small>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="text/javascript"></script>
	<script src="/theme/portdb.js"></script>
</footer>

</body>
</html>