public/
.terraform/*
_site/
.jekyll-cache/
docs/_site
docs/.sass-cache
docs/.jekyll-cache
docs/.jekyll-metadata
docs/vendor
**/__pycache__/*
venv/
.vscode/
.DS_Store
config.py
*.egg-info/
dist/
.env
build/
service-names-port-numbers.xml
