{% extends "base.html" %}
{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}

{% block content %}
<div role="main" class="content clearfix">
<article>
<div class="wrapper main" id="searchmeta" name="searchmeta" data-category="{{category}}">

		<h2>Ports tagged with protocol: {{ category }}</h2>
		<div>
			<input type="text" id="searchTerm" name="searchTerm" placeholder="Port # Search" v-model="portFilter"/>
		</div>

		<ol class="archive">
		<template v-for="item in portFiltered.slice(0, 20)">
		<li style="list-style-type: none;"><a :href="'/'+item.message+'/'">| item.message |</a></li>
		</template>
		</ol>
		{#
			{% for article in articles %}
			<li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
		{% endfor %}
		#}
	</div>
</article>
</div>

{% endblock %}