{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}
<div role="main" class="content clearfix">
	<article>
	{% include 'metadata.html' %}
	<div class="post wrapper">
		<h1>Welcome to the portDB</h1>

		<div>
			A network port database mini site. I was driven mad by the lack of information on ports and the applications they map to, so I've started this database for my own information.
		</div>

		<h2>Protocols:</h2>

		<ul>
		<li><a href="/category/tcp.html">TCP</a></li>
		<li><a href="/category/udp.html">UDP</a></li>
		</ul>

		<div>
		Please feel free to add information, by emailing me at <a href="mailto:yaleman@ricetek.net">yaleman@ricetek.net</a> or <a href="https://github.com/yaleman/portdb.yaleman.org/issues">log an issue on GitHub</a>.
		</div>
	</div>

	</article>
</div>
{% endblock content %}
